@{
    ViewBag.Title = "Contacto";
}
<h2>Documentación de ética</h2>
<h3>Creado por:</h3>

<address>
    <strong>Santiago Cano:</strong>   <a href="mailto:santiagocano6@gmail.com">santiagocano6@gmail.com</a><br />
    <strong>Andres Posada</strong> <a href="mailto:andres881224@gmail.com">andres881224@gmail.com</a><br />
    <strong>Oscar Valencia</strong> <a href="mailto:oscar.valencia2783@gmail.com">oscar.valencia2783@gmail.com</a><br />
    <strong>Raul Ramirez</strong> <a href="mailto:raulramirez17@msn.com">raulramirez17@msn.com</a><br />
    <strong>Eric Quiceno</strong> <a href="mailto:ericnal3@gmail.com">ericnal3@gmail.com</a>
</address>