@{
    ViewBag.Title = "Home Page";
}

<br /><br /><br />
<!--div class="jumbotron">-->
    <table>
        <tr>
            <td><font size="10">Ética no es otra cosa que la reverencia por la vida.</font> </td>
        </tr>
        <tr>
            <td align="right"><font size="5">Albert Schweitzer</font> </td>
        </tr>
    </table>
<!--/div>-->

@*<div class="row">
    <div class="col-md-">
        <h3>Últimos cargados en tu pais</h3>
        @{ Html.RenderPartial("~/Views/Documento/_ObtenerLosUltimosCargados.cshtml"); }
        <p>@Html.ActionLink("Ver todos", "_Novedades", "Documento")</p>
    </div>
    <div class="col-md-4">
        <h3>Otra cosa</h3>
        <p>Mis otras cosas</p>
        <p>@Html.ActionLink("Ver todos", "_NoticialPartial", "Noticia")</p>
    </div>
    <div class="col-md-4">
        <h3>Noticias</h3>
        <p>Noticias dentro de la aplicación</p>
        <p>@Html.ActionLink("Ver todas", "_NoticialPartial", "Noticia")</p>
    </div>
</div>*@